.container{
  background-color: black;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
h1{
  color: #3498db;
}
.count{
  color: aqua;
  font-size: 170px;
  padding: 10px;
}

.buttons{
  display: flex;
  justify-content: space-between;
}

.buttons button{
  margin-right: 10px;
  background: #3498db;
  background-image: -webkit-linear-gradient(top, #3498db, #233d4d);
  background-image: -moz-linear-gradient(top, #3498db, #233d4d);
  background-image: -ms-linear-gradient(top, #3498db, #233d4d);
  background-image: -o-linear-gradient(top, #3498db, #233d4d);
  background-image: linear-gradient(to bottom, #3498db, #233d4d);
  font-family: Arial;
  color: #ffffff;
  font-size: 20px;
  padding: 10px 20px 10px 20px;
  text-decoration: none;
}